@font-face {
	font-family: 'SF UI Display';
	src: url('../../static/fonts/SFUIDisplay-Regular.woff2') format('woff2'),
		url('../../static/fonts/SFUIDisplay-Regular.woff') format('woff'),
		url('../../static/fonts/SFUIDisplay-Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
