@mixin phone {
  @media (max-width: #{$sm}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$smd}) {
    @content;
  }
}

@mixin wide-tablet {
  @media (max-width: #{$slg}) {
    @content;
  }
}

@mixin small-laptop {
  @media (max-width: #{$lg}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$xlg}) {
    @content;
  }
}

@mixin wide-laptop {
  @media (max-width: #{$xxlg}) {
    @content;
  }
}

@mixin wide-screen {
  @media (max-width: #{$xxxlg}) {
    @content;
  }
}

@mixin size($width: 100%, $height: $width) {
  width: $width;
  height: $height;
}

@mixin block($width: 100%, $height: $width) {
  display: block;
  @include size($width, $height);
}

@mixin inline-block($width: 100%, $height: $width) {
  display: inline-block;
  @include size($width, $height);
}

@mixin pos($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin rel($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: relative;
  @include pos($top, $right, $bottom, $left);
}

@mixin rel-point($top: auto, $left: auto) {
  @include rel($top, auto, auto, $left);
}

@mixin abs($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: absolute;
  @include pos($top, $right, $bottom, $left);
}

@mixin abs-point($top: auto, $left: auto) {
  @include abs($top, auto, auto, $left);
}

@mixin fixed($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: fixed;
  @include pos($top, $right, $bottom, $left);
}

@mixin fixed-point($top: auto, $left: auto) {
  @include fixed($top, auto, auto, $left);
}

@mixin bg($url, $position: 50% 0, $repeat: no-repeat) {
  background: url($imgBase + $url) $position $repeat;
}

@mixin bg-size($url, $size: 100%, $position: 50% 0, $repeat: no-repeat) {
  background: url($imgBase + $url) $position $repeat;
  background-size: $size;
}

@mixin trans($params...) {
  backface-visibility: hidden;
  transition: $params;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin hover-link($color, $hover: $color) {
  color: $color;
  @include trans(color, $transition-primary);
  &:hover,
  &:active,
  &:focus {
    color: $hover;
    text-decoration: none;
  }
}

@mixin placeholder-color($color, $size: 100%) {
  &::-webkit-input-placeholder {
    color: $color;
    font-size: $size;
  }

  &::-moz-placeholder {
    color: $color;
    //font-weight: 300;
  }

  &:-ms-input-placeholder {
    color: $color;
    //font-weight: 300;
  }
}

@mixin h1($color: $color-font-primary) {
  font-family: $font-primary;
  font-size: 72px;
  line-height: 86px;
  color: $color;

  @include phone() {
    font-size: 36px;
    line-height: 43px;
  }
}

@mixin h2($color: $color-font-primary) {
  font-family: $font-primary;
  font-size: 36px;
  line-height: 43px;
  color: $color;

  @include phone() {
    font-size: 18px;
    line-height: 21px;
  }
}
