@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

$browser-context: 16;

// fonts
$font-primary: "SF UI Display", sans-serif;

// colors
//font-colors
$color-font-primary: #FFF;
$color-font-secondary: #000;
$color-font-tertiary: #828282;
//bg-colors
$color-bg-primary: #000;
$color-bg-secondary: #FFF;
$color-bg-tertiary: #828282;
$color-bg-accept: #219653;

// outline
$outline-shadow: 3px 2px 22px -6px rgba(0, 0, 0, 0.75);

// transitions
$transition-primary: 0.3s;

$imgBase: "../images/";

$small: 560px;
$middle: 760px;
$tablet: 1000px;
$laptop: 1170px;
$desktop: 1300px;
$wide: 1400px;
$large: 1800px;

// breakpoints
$xs: 380px;
$sm: 560px;
$smd: 780px;
$md: 1000px;
$slg: 1025px;
$lg: 1285px;
$xlg: 1370px;
$xxlg: 1445px;
$xxxlg: 1925px;
