<template>
  <div class="photo">
    <section class="photo-details">
      <img
        alt="background image"
        :src="photo.urls.full"
        class="photo-details__bg-image"
      />
      <div class="photo-details__wrapper">
        <div class="photo-details__header">
          <div class="photo-details__user">
            <Avatar
              :src="photo.user.profile_image.large"
              :width="55"
              :height="55"
            />
            <div class="photo-details__user-info">
              <span class="photo-details__full-name">{{
                `${photo.user.first_name} ${photo.user.last_name}`
              }}</span>
              <span class="photo-details__nick">{{
                `@${photo.user.username}`
              }}</span>
            </div>
          </div>
          <div class="photo-details__actions">
            <Button icon-name="heart_grey" @click="addOrRemoveFavorites" />
            <Button
              type="primary"
              icon-name="download"
              label="Download"
              @on-click="() => {}"
            />
          </div>
        </div>
        <img alt="image" class="photo-details__image" :src="photo.urls.full" />
      </div>
    </section>
    <section class="similar-photos">
      <div class="similar-photos__header">
        <h2 class="similar-photos__title">Похожие фотографии</h2>
        <a href="#" class="similar-photos__link">show more</a>
      </div>
      <ListPhotos :photos="photos" />
    </section>
  </div>
</template>

<script>
import Avatar from '../components/atoms/Avatar'
import Button from '../components/atoms/Button'
import ListPhotos from '../components/moleculus/ListPhotos'

export default {
  components: {
    Avatar,
    Button,
    ListPhotos,
  },
  fetch() {
    this.photos = this.$store.getters['photos/getPhotos']
    this.photo = this.photos.find(
      (photo) => photo.id === this.$route.params.photoId
    )
  },
  data: () => {
    return {
      photo: {},
      photos: [],
    }
  },
  methods: {
    addOrRemoveFavorites() {
      this.$store.dispatch('photos/addOrRemoveFavorites', this.photo)
    },
  },
}
</script>

<style lang="scss">
.photo {
  display: flex;
  flex-direction: column;
  width: 100%;

  .photo-details {
    position: relative;
    margin-bottom: 80px;
    @include phone() {
      margin-bottom: 30px;
    }

    &__bg-image {
      filter: contrast(0.4);
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      @include phone() {
        display: none;
      }
    }

    &__wrapper {
      width: 90%;
      max-width: 1480px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      z-index: 2;
    }

    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 40px 0;
      z-index: 2;
    }

    &__user {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__user-info {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
    }

    &__full-name {
      font-family: $font-primary;
      font-size: 30px;
      line-height: 36px;
      color: $color-font-primary;
      @include phone() {
        font-size: 18px;
        line-height: 21.48px;
        color: $color-font-secondary;
      }
    }

    &__nick {
      font-family: $font-primary;
      font-size: 18px;
      line-height: 21.48px;
      color: $color-font-primary;
      @include phone() {
        font-size: 14px;
        line-height: 16.71px;
        color: $color-font-secondary;
      }
    }

    &__actions {
      display: flex;
      flex-direction: row;
      align-items: center;

      & button:first-child {
        margin-right: 20px;
      }
    }

    &__image {
      width: 100%;
      height: auto;
      box-shadow: 0px 4px 100px #000;
      border-radius: 8px;
      margin-bottom: 40px;
      z-index: 2;
      @include phone() {
        box-shadow: none;
        margin-bottom: 30px;
      }
    }
  }

  .similar-photos {
    width: 90%;
    max-width: 1480px;
    margin: 0 auto;

    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 48px;
      @include phone() {
        justify-content: flex-start;
        margin-bottom: 26px;
      }
    }

    &__title {
      @include h2($color-font-secondary);
    }

    &__link {
      font-family: $font-primary;
      font-size: 14px;
      line-height: 17px;
      text-decoration-line: underline;
      color: $color-font-tertiary;
      @include phone() {
        display: none;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}
</style>
