<template>
  <div class="favorites">
    <h1 class="favorites__title">Избранное</h1>
    <ListPhotos :photos="favoritePhotos" />
  </div>
</template>

<script>
import ListPhotos from '../components/moleculus/ListPhotos'

export default {
  components: {
    ListPhotos,
  },
  computed: {
    favoritePhotos() {
      return this.$store.getters['photos/getFavorites']
    },
  },
}
</script>

<style lang="scss">
.favorites {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1480px;
  margin: 0 auto;

  &__title {
    margin: 110px 0 70px;
    text-align: center;
    @include h1($color-font-secondary);

    @include phone() {
      margin: 40px;
    }
  }
}
</style>
