<template>
  <div class="history">
    <div class="history__container">
      <h1 class="history__title">Ваши запросы</h1>
      <div class="history__queries">
        <span
          v-for="query in historyQueries"
          :key="query"
          class="history__query"
        >
          {{ query }}
        </span>
      </div>
    </div>
    <div class="history__photos">
      <ListPhotos :photos="photos" />
    </div>
  </div>
</template>

<script>
import ListPhotos from '../components/moleculus/ListPhotos'

export default {
  components: {
    ListPhotos,
  },
  data: () => {
    return {
      historyQueries: [],
    }
  },
  computed: {
    photos() {
      return this.$store.getters['photos/getPhotos']
    },
  },
  mounted() {
    this.historyQueries = JSON.parse(localStorage.getItem('historySearches'))
  },
}
</script>

<style lang="scss">
.history {
  display: flex;
  flex-direction: column;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-bg-primary;
    margin-bottom: 45px;
    @include phone() {
      min-height: calc(100vh - 81px);
    }
  }

  &__title {
    width: 80%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 45px;
    @include h1();
  }

  &__queries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1460px;
    width: 90%;
    margin-bottom: 132px;
  }

  &__query {
    font-family: $font-primary;
    font-size: 18px;
    line-height: 40px;
    color: $color-font-primary;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__photos {
    width: 90%;
    max-width: 1480px;
    margin: 0px auto 45px;
  }
}
</style>
