<template>
  <div>
    <div class="search">
      <div class="search__inner">
        <Input
          v-model.trim="searchValue"
          type="text"
          name="search"
          placeholder="Поиск"
        />
        <Divider />
        <div class="search__tags" @click="handleClickTag">
          <span
            v-for="tag in tags"
            :key="tag.id"
            :data-tag-id="tag.id"
            class="search__tag"
          >
            {{ tag.title }}
          </span>
        </div>
      </div>
    </div>
    <div class="main-container">
      <ListPhotos :photos="photos" />
      <client-only>
        <InfiniteLoading @infinite="infiniteHandler">
          <div slot="spinner" class="loading-container">
            <Loading />
          </div>
        </InfiniteLoading>
      </client-only>
      <ScrollUpButton />
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import InfiniteLoading from 'vue-infinite-loading'

import Loading from '../components/atoms/Loading'
import Input from '../components/atoms/Input'
import Divider from '../components/atoms/Divider'
import ListPhotos from '../components/moleculus/ListPhotos'
import ScrollUpButton from '../components/moleculus/ScrollUpButton'

export default {
  components: {
    Loading,
    Input,
    Divider,
    ListPhotos,
    InfiniteLoading,
    ScrollUpButton,
  },
  async fetch() {
    if (this.$store.getters['photos/getTags'].length === 0) {
      await this.$store.dispatch('photos/fetchTags')
    }
    this.tags = this.$store.getters['photos/getTags']
  },
  data: () => {
    return {
      photos: [],
      page: 1,
      firstLoad: true,
      tags: [],
      searchValue: '',
    }
  },
  watch: {
    searchValue: _.debounce(function () {
      if (localStorage.getItem('historySearches')) {
        const historySearches = JSON.parse(
          localStorage.getItem('historySearches')
        )
        localStorage.setItem(
          'historySearches',
          JSON.stringify([...historySearches, this.searchValue])
        )
      } else {
        localStorage.setItem(
          'historySearches',
          JSON.stringify([this.searchValue])
        )
      }
    }, 1000),
  },
  methods: {
    async infiniteHandler($state) {
      let resultFetchPhotos
      const photosFromStore = this.$store.getters['photos/getPhotos']

      if (this.firstLoad && photosFromStore.length !== 0) {
        resultFetchPhotos = photosFromStore
        this.page = resultFetchPhotos.length / 10
      } else {
        await this.$store.dispatch('photos/fetchPhotos', { page: this.page })
        resultFetchPhotos = this.$store.getters['photos/getPhotos']
      }

      this.firstLoad = false

      if (resultFetchPhotos.length) {
        this.page += 1
        this.photos = resultFetchPhotos
        $state.loaded()
      } else {
        $state.complete()
      }
    },
    handleClickTag(e) {
      const tagTitle = e.target.textContent.trim()
      this.searchValue = tagTitle
    },
  },
}
</script>

<style scoped lang="scss">
.main-container {
  width: 90%;
  max-width: 1480px;
  margin: 72px auto 0;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.search {
  width: 100%;
  height: 300px;
  background-color: $color-bg-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-bottom: 90px;
  @include phone() {
    padding: 20px;
    margin-bottom: 42px;
  }

  &__inner {
    max-width: 700px;
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  &__tags {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-bottom: 30px;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__tag {
    font-family: $font-primary;
    font-size: 18px;
    line-height: 21px;
    white-space: nowrap;
    margin-right: 20px;
    background: linear-gradient(to right, white, white 50%, black);
    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }
}
</style>
