<template>
  <img alt="avatar" :src="src" :width="width" :height="height" class="avatar" />
</template>

<script>
export default {
  props: {
    src: {
      type: String,
      required: true,
    },
    width: {
      type: Number,
      required: false,
      default: 70,
    },
    height: {
      type: Number,
      required: false,
      default: 70,
    },
  },
}
</script>

<style lang="scss">
.avatar {
  border: 1px solid white;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
}
</style>
