<template>
  <button type="button" :class="buttonClass" @click.stop="$emit('on-click')">
    <component :is="iconComponent"></component>
    <span v-if="label" class="button__label">{{ label }}</span>
  </button>
</template>

<script>
import Download from './icons/Download'
import FullScreen from './icons/FullScreen'
import GalleryPhotos from './icons/GalleryPhotos'
import Heart from './icons/Heart'
import HeartGrey from './icons/HeartGrey'
import History from './icons/History'
import Up from './icons/Up'
import VerticalPhotos from './icons/VerticalPhotos'
import Search from './icons/Search'
import FullScreenImage from './icons/FullScreenImage'

const icons = {
  download: Download,
  full_screen: FullScreen,
  gallery_photos: GalleryPhotos,
  heart: Heart,
  heart_grey: HeartGrey,
  history: History,
  up: Up,
  vertical_photos: VerticalPhotos,
  search: Search,
  full_screen_image: FullScreenImage,
}

export default {
  props: {
    label: String,
    type: String,
    iconName: {
      type: String,
      required: true,
    },
    customClass: String,
  },
  computed: {
    iconComponent() {
      return icons[this.iconName]
    },
    buttonClass() {
      return `button ${this.type && `button_${this.type}`} ${this.customClass}`
    },
  },
}
</script>

<style lang="scss">
.button {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 12px;
  border: 0;
  border-radius: 8px;
  background-color: $color-bg-secondary;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  opacity: 1;
  outline: none;
  transition: $transition-primary;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &__label {
    font-family: $font-primary;
    font-size: 20px;
    line-height: 24px;
    color: $color-font-primary;
    padding-left: 12px;

    @include tablet() {
      display: none;
    }
  }

  &_primary {
    background-color: $color-bg-accept;
  }

  &_link {
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
  }
}
</style>
