<template>
  <div class="card" @click="handleNavigateToPhotoDetails">
    <img class="card__img" :alt="photo.id" :src="photo.urls.regular" />
    <div class="card-user">
      <div class="card-user__info">
        <Avatar :src="photo.user.profile_image.large" />
        <span class="card-user__full-name">{{
          `${photo.user.first_name} ${photo.user.last_name}`
        }}</span>
        <span class="card-user__nick">{{ `@${photo.user.username}` }}</span>
      </div>
      <div class="card-user__actions">
        <Button
          type="link"
          icon-name="heart"
          @on-click="addOrRemoveFavorites"
        />
        <Button type="link" icon-name="full_screen" @on-click="() => {}" />
        <Button type="link" icon-name="download" @on-click="() => {}" />
      </div>
    </div>
  </div>
</template>

<script>
import Avatar from './Avatar'
import Button from './Button'

export default {
  components: {
    Avatar,
    Button,
  },
  props: {
    photo: {
      type: Object,
      required: true,
    },
  },
  methods: {
    addOrRemoveFavorites() {
      this.$store.dispatch('photos/addOrRemoveFavorites', this.photo)
    },
    handleNavigateToPhotoDetails() {
      this.$router.push({
        path: `/${this.photo.id}`,
      })
    },
  },
}
</script>

<style lang="scss">
.card {
  width: 100%;
  height: 260px;
  filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.14));
  border-radius: 8px;
  margin-bottom: 24px;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  .card-user {
    opacity: 0;
    transition: $transition-primary;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(40, 36, 22, 0.5);
    backdrop-filter: blur(20px);

    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__full-name {
      font-family: $font-primary;
      font-size: 30px;
      line-height: 36px;
      text-align: center;
      color: $color-font-primary;
    }

    &__nick {
      font-family: $font-primary;
      font-size: 18px;
      line-height: 21.48px;
      text-align: center;
      color: $color-font-primary;
    }

    &__actions {
      display: flex;
      flex-direction: row;
      margin-top: 6px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }

  &:hover {
    .card-user {
      opacity: 1;
    }
  }

  &:last-child {
    padding-bottom: 0;
  }
}
</style>
