<template>
  <div class="divider"></div>
</template>

<style lang="scss">
.divider {
  display: flex;
  width: 100%;
  min-width: 100%;
  height: 1px;
  background: linear-gradient(
    0.25turn,
    transparent,
    $color-bg-secondary,
    transparent
  );
  margin: 20px 0;
}
</style>
