<template>
  <input
    :type="type"
    :name="name"
    :placeholder="placeholder"
    :value="value"
    class="input"
    autocomplete="off"
    @input="$emit('input', $event.target.value)"
  />
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    placeholder: {
      type: String,
      default: 'Введите текст',
    },
  },
}
</script>

<style lang="scss">
.input {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: $font-primary;
  font-size: 72px;
  line-height: 86px;
  color: $color-font-primary;
  background-color: transparent;
  text-align: center;
  outline: none;

  &::placeholder {
    color: $color-font-primary;
  }
}
</style>
