<template>
  <NuxtLink to="/" class="logo">
    <svg
      width="28"
      height="28"
      viewBox="0 0 28 28"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M8.75 7.875V0H19.25V7.875H8.75ZM19.25 12.25H28V28H0V12.25H8.75V20.125H19.25V12.25Z"
        fill="white"
      />
    </svg>
    <span class="logo__text">ImageStock</span>
  </NuxtLink>
</template>

<style lang="scss">
.logo {
  display: flex;
  flex-direction: row;

  &__text {
    font-family: $font-primary;
    font-size: 24px;
    line-height: 29px;
    color: $color-font-primary;
    margin-left: 24px;

    @include phone() {
      display: none;
    }
  }
}
</style>
