<template>
  <div class="tag">{{ title }}</div>
</template>

<style lang="scss">
.tag {
  padding: 6px 12px;
  background-color: '#F2F2F2';
  border-radius: 8px;
  font-family: $font-primary;
  font-size: 14px;
  line-height: 17px;
  color: $color-font-tertiary;
}
</style>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
  },
}
</script>
