<template>
  <div class="header">
    <div class="header__inner">
      <Logo />
      <div class="header__actions">
        <Button
          v-if="isMainPage"
          icon-name="search"
          label="Поиск"
          type="link"
          @on-click="handleSearch"
        />
        <Button
          icon-name="heart"
          label="Избранное"
          type="link"
          @on-click="handleNavigateToFavorites"
        />
        <Button
          icon-name="history"
          label="История поиска"
          type="link"
          @on-click="handleNavigateToHistory"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Logo from '../atoms/Logo'
import Button from '../atoms/Button'

export default {
  components: {
    Logo,
    Button,
  },
  computed: {
    isMainPage() {
      return this.$route.path !== '/'
    },
  },
  methods: {
    handleSearch() {
      this.$router.push('/')
    },
    handleNavigateToFavorites() {
      this.$router.push('favorites')
    },
    handleNavigateToHistory() {
      this.$router.push('history')
    },
  },
}
</script>

<style lang="scss">
.header {
  width: 100%;
  height: 81px;
  background-color: $color-bg-primary;
  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {
    width: 90%;
    max-width: 1480px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__actions {
    display: flex;
    flex-direction: row;

    & > button {
      border-bottom: 2px solid black;
    }

    & > button:hover {
      border-bottom-color: white;
    }
  }
}
</style>
