<template>
  <div class="photos">
    <Card v-for="photo in photos" :key="photo.id" :photo="photo" />
  </div>
</template>

<script>
import Card from '../atoms/Card'

export default {
  components: {
    Card,
  },
  props: {
    photos: {
      type: Array,
      required: true,
    },
  },
}
</script>

<style lang="scss">
.photos {
  display: grid;
  grid-column-gap: 24px;
  grid-template-columns: repeat(3, 1fr);

  @include tablet() {
    grid-template-columns: repeat(2, 1fr);
  }

  @include phone() {
    grid-template-columns: repeat(1, 1fr);
  }
}
</style>
