<template>
  <Button
    v-if="isButtonVisible"
    icon-name="up"
    custom-class="scroll-up-button-wrapper"
    @on-click="handleScrollUp"
  />
</template>

<script>
import Button from '../atoms/Button'

export default {
  components: {
    Button,
  },
  data: () => {
    return {
      isButtonVisible: false,
    }
  },
  beforeMount() {
    window.addEventListener('scroll', this.handleButtonVisible)
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleButtonVisible)
  },
  methods: {
    handleScrollUp() {
      document.body.scrollTop = 0
      document.documentElement.scrollTop = 0
    },
    handleButtonVisible() {
      if (window.scrollY > 200) {
        this.isButtonVisible = true
      } else {
        this.isButtonVisible = false
      }
    },
  },
}
</script>

<style lang="scss">
.scroll-up-button-wrapper {
  position: fixed;
  bottom: 120px;
  right: 113px;

  @include phone() {
    bottom: 20px;
    right: 32px;
  }
}
</style>
