<template>
  <svg
    width="17"
    height="21"
    viewBox="0 0 17 21"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M11.8681 7.8362H13.7404C14.7884 7.8362 15.3065 9.10793 14.5647 9.84978L9.15979 15.2547C8.70055 15.7139 7.95871 15.7139 7.49947 15.2547L2.09459 9.84978C1.35274 9.10793 1.88263 7.8362 2.93063 7.8362H4.80291V1.94852C4.80291 1.30088 5.33281 0.77099 5.98045 0.77099H10.6906C11.3382 0.77099 11.8681 1.30088 11.8681 1.94852V7.8362ZM1.27031 20.7891C0.622664 20.7891 0.0927734 20.2592 0.0927734 19.6116C0.0927734 18.9639 0.622664 18.434 1.27031 18.434H15.4007C16.0484 18.434 16.5783 18.9639 16.5783 19.6116C16.5783 20.2592 16.0484 20.7891 15.4007 20.7891H1.27031Z"
      fill="white"
    />
  </svg>
</template>
