<template>
  <svg
    width="26"
    height="26"
    viewBox="0 0 26 26"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M1.59835 1.59835C2.30161 0.895088 3.25544 0.5 4.25 0.5H8C8.69036 0.5 9.25 1.05964 9.25 1.75C9.25 2.44036 8.69036 3 8 3H4.25C3.91848 3 3.60054 3.1317 3.36612 3.36612C3.1317 3.60054 3 3.91848 3 4.25V8C3 8.69036 2.44036 9.25 1.75 9.25C1.05964 9.25 0.5 8.69036 0.5 8V4.25C0.5 3.25544 0.895088 2.30161 1.59835 1.59835ZM16.75 1.75C16.75 1.05964 17.3096 0.5 18 0.5H21.75C22.7446 0.5 23.6984 0.895088 24.4017 1.59835C25.1049 2.30161 25.5 3.25544 25.5 4.25V8C25.5 8.69036 24.9404 9.25 24.25 9.25C23.5596 9.25 23 8.69036 23 8V4.25C23 3.91848 22.8683 3.60054 22.6339 3.36612C22.3995 3.1317 22.0815 3 21.75 3H18C17.3096 3 16.75 2.44036 16.75 1.75ZM1.75 16.75C2.44036 16.75 3 17.3096 3 18V21.75C3 22.0815 3.1317 22.3995 3.36612 22.6339C3.60054 22.8683 3.91848 23 4.25 23H8C8.69036 23 9.25 23.5596 9.25 24.25C9.25 24.9404 8.69036 25.5 8 25.5H4.25C3.25544 25.5 2.30161 25.1049 1.59835 24.4017C0.895088 23.6984 0.5 22.7446 0.5 21.75V18C0.5 17.3096 1.05964 16.75 1.75 16.75ZM24.25 16.75C24.9404 16.75 25.5 17.3096 25.5 18V21.75C25.5 22.7446 25.1049 23.6984 24.4017 24.4017C23.6984 25.1049 22.7446 25.5 21.75 25.5H18C17.3096 25.5 16.75 24.9404 16.75 24.25C16.75 23.5596 17.3096 23 18 23H21.75C22.0815 23 22.3995 22.8683 22.6339 22.6339C22.8683 22.3995 23 22.0815 23 21.75V18C23 17.3096 23.5596 16.75 24.25 16.75Z"
      fill="white"
    />
  </svg>
</template>
