<template>
  <svg
    width="34"
    height="34"
    viewBox="0 0 34 34"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M19.8333 4.12123C19.8333 3.36254 20.4675 2.7475 21.2499 2.7475H29.7499C30.5323 2.7475 31.1666 3.36254 31.1666 4.12123V12.3637C31.1666 13.1224 30.5323 13.7374 29.7499 13.7374C28.9675 13.7374 28.3333 13.1224 28.3333 12.3637V5.49497H21.2499C20.4675 5.49497 19.8333 4.87993 19.8333 4.12123Z"
      fill="white"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M4.24992 19.2323C5.03232 19.2323 5.66658 19.8473 5.66658 20.606V27.4747H12.7499C13.5323 27.4747 14.1666 28.0898 14.1666 28.8485C14.1666 29.6072 13.5323 30.2222 12.7499 30.2222H4.24992C3.46752 30.2222 2.83325 29.6072 2.83325 28.8485V20.606C2.83325 19.8473 3.46752 19.2323 4.24992 19.2323Z"
      fill="white"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M30.7518 3.14986C31.3051 3.68633 31.3051 4.55614 30.7518 5.09261L20.8351 14.7088C20.2819 15.2453 19.3849 15.2453 18.8317 14.7088C18.2784 14.1723 18.2784 13.3025 18.8317 12.766L28.7483 3.14986C29.3016 2.61338 30.1986 2.61338 30.7518 3.14986Z"
      fill="white"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M15.1683 18.2609C15.7216 18.7974 15.7216 19.6672 15.1683 20.2037L5.25165 29.8199C4.69841 30.3563 3.80143 30.3563 3.24818 29.8199C2.69494 29.2834 2.69494 28.4136 3.24818 27.8771L13.1649 18.2609C13.7181 17.7245 14.6151 17.7245 15.1683 18.2609Z"
      fill="white"
    />
  </svg>
</template>
