<template>
  <svg
    width="23"
    height="23"
    viewBox="0 0 23 23"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect width="10" height="10" fill="#BDBDBD" />
    <rect y="13" width="10" height="10" fill="#BDBDBD" />
    <rect x="13" width="10" height="10" fill="#BDBDBD" />
    <rect x="13" y="13" width="10" height="10" fill="#BDBDBD" />
  </svg>
</template>
