<template>
  <svg
    width="23"
    height="22"
    viewBox="0 0 23 22"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M13.0516 20.7355C12.1779 21.5591 10.8329 21.5591 9.95928 20.7236L9.83283 20.6042C3.79765 14.9349 -0.145337 11.2229 0.00410514 6.59197C0.0730786 4.56294 1.07319 2.61746 2.69407 1.47165C5.7289 -0.676732 9.47646 0.325848 11.4997 2.78456C13.5229 0.325848 17.2705 -0.688667 20.3053 1.47165C21.9262 2.61746 22.9263 4.56294 22.9953 6.59197C23.1562 11.2229 19.2017 14.9349 13.1665 20.6281L13.0516 20.7355Z"
      fill="white"
    />
  </svg>
</template>
