<template>
  <svg
    width="26"
    height="23"
    viewBox="0 0 26 23"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M14.5782 21.9207C13.6142 22.796 12.1302 22.796 11.1661 21.9081L11.0266 21.7812C4.36736 15.7562 0.0166355 11.8114 0.181532 6.88984C0.257637 4.7335 1.36117 2.66596 3.14966 1.44827C6.49832 -0.834911 10.6334 0.230571 12.8658 2.84354C15.0983 0.230571 19.2334 -0.847595 22.582 1.44827C24.3705 2.66596 25.4741 4.7335 25.5502 6.88984C25.7277 11.8114 21.3643 15.7562 14.7051 21.8066L14.5782 21.9207Z"
      fill="#828282"
    />
  </svg>
</template>
