<template>
  <svg
    width="22"
    height="20"
    viewBox="0 0 22 20"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M2.48945 10.0019C2.48945 4.53106 7.00695 0.100222 12.5211 0.251889C17.602 0.392722 21.8486 4.63939 21.9895 9.72022C22.1411 15.2344 17.7103 19.7519 12.2395 19.7519C9.97529 19.7519 7.90612 18.9827 6.25945 17.6827C5.75029 17.2927 5.71779 16.5236 6.17279 16.0686C6.56279 15.6786 7.16945 15.6461 7.60279 15.9819C8.88112 16.9894 10.4953 17.5852 12.2395 17.5852C16.4645 17.5852 19.877 14.1294 19.8228 9.89355C19.7686 5.86355 16.3778 2.47272 12.3478 2.41856C8.10112 2.36439 4.65612 5.77689 4.65612 10.0019H6.59529C7.08279 10.0019 7.32112 10.5869 6.98529 10.9227L3.96279 13.9561C3.74612 14.1727 3.41029 14.1727 3.19362 13.9561L0.17112 10.9227C-0.175546 10.5869 0.062787 10.0019 0.550287 10.0019H2.48945ZM11.1561 6.48105C11.1561 6.03689 11.5245 5.66855 11.9686 5.66855C12.4128 5.66855 12.7811 6.03689 12.7811 6.47022V10.1536L15.9011 12.0061C16.2803 12.2336 16.4103 12.7319 16.1828 13.1219C15.9553 13.5011 15.457 13.6311 15.067 13.4036L11.687 11.3994C11.362 11.2044 11.1561 10.8469 11.1561 10.4677V6.48105Z"
      fill="white"
    />
  </svg>
</template>
