<template>
  <svg
    width="28"
    height="28"
    viewBox="0 0 28 28"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M14 0.25C14.6904 0.25 15.25 0.809644 15.25 1.5V6.5C15.25 7.19036 14.6904 7.75 14 7.75C13.3096 7.75 12.75 7.19036 12.75 6.5V1.5C12.75 0.809644 13.3096 0.25 14 0.25Z"
      fill="black"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M14 20.25C14.6904 20.25 15.25 20.8096 15.25 21.5V26.5C15.25 27.1904 14.6904 27.75 14 27.75C13.3096 27.75 12.75 27.1904 12.75 26.5V21.5C12.75 20.8096 13.3096 20.25 14 20.25Z"
      fill="black"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M4.27859 4.27871C4.76675 3.79056 5.5582 3.79056 6.04636 4.27871L9.58386 7.81621C10.072 8.30437 10.072 9.09583 9.58386 9.58398C9.0957 10.0721 8.30425 10.0721 7.81609 9.58398L4.27859 6.04648C3.79044 5.55833 3.79044 4.76687 4.27859 4.27871Z"
      fill="black"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M18.4161 18.4162C18.9043 17.928 19.6957 17.928 20.1839 18.4162L23.7214 21.9537C24.2095 22.4418 24.2095 23.2333 23.7214 23.7214C23.2332 24.2096 22.4418 24.2096 21.9536 23.7214L18.4161 20.1839C17.9279 19.6958 17.9279 18.9043 18.4161 18.4162Z"
      fill="black"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M0.25 14C0.25 13.3096 0.809644 12.75 1.5 12.75H6.5C7.19036 12.75 7.75 13.3096 7.75 14C7.75 14.6904 7.19036 15.25 6.5 15.25H1.5C0.809644 15.25 0.25 14.6904 0.25 14Z"
      fill="black"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M20.25 14C20.25 13.3096 20.8096 12.75 21.5 12.75H26.5C27.1904 12.75 27.75 13.3096 27.75 14C27.75 14.6904 27.1904 15.25 26.5 15.25H21.5C20.8096 15.25 20.25 14.6904 20.25 14Z"
      fill="black"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M9.58386 18.4162C10.072 18.9043 10.072 19.6958 9.58386 20.1839L6.04636 23.7214C5.5582 24.2096 4.76675 24.2096 4.27859 23.7214C3.79044 23.2333 3.79044 22.4418 4.27859 21.9537L7.81609 18.4162C8.30425 17.928 9.0957 17.928 9.58386 18.4162Z"
      fill="black"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M23.7214 4.27871C24.2095 4.76687 24.2095 5.55833 23.7214 6.04648L20.1839 9.58398C19.6957 10.0721 18.9043 10.0721 18.4161 9.58398C17.9279 9.09583 17.9279 8.30437 18.4161 7.81621L21.9536 4.27871C22.4418 3.79056 23.2332 3.79056 23.7214 4.27871Z"
      fill="black"
    />
  </svg>
</template>
