<template>
  <svg
    width="21"
    height="21"
    viewBox="0 0 21 21"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M14.3503 13.4865H15.3049L20.4282 18.634C20.9236 19.1294 20.9236 19.939 20.4282 20.4344C19.9328 20.9298 19.1232 20.9298 18.6278 20.4344L13.4924 15.299V14.3444L13.1661 14.0061C11.4745 15.4561 9.16654 16.2052 6.71362 15.7944C3.35446 15.2265 0.671957 12.4231 0.261124 9.0398C-0.36721 3.92855 3.93446 -0.373115 9.04571 0.255219C12.429 0.666052 15.2324 3.34855 15.8003 6.70772C16.2111 9.16063 15.462 11.4686 14.012 13.1602L14.3503 13.4865ZM2.6174 8.04897C2.6174 11.0577 5.04615 13.4865 8.0549 13.4865C11.0636 13.4865 13.4924 11.0577 13.4924 8.04897C13.4924 5.04022 11.0636 2.61147 8.0549 2.61147C5.04615 2.61147 2.6174 5.04022 2.6174 8.04897Z"
      fill="white"
    />
  </svg>
</template>
